@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --color-dark-1: #2a1f2d;
    --color-dark-2: #3B2C35;
    --color-light-1: #FAFFFD;
    --palette-1: #004e98;
    --palette-2: #D4C5E2;
    --palette-3: #EEB868;
    --palette-4: #4F9D69;
    --palette-5: #FF5964;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 500vh;
    padding: 0;
    margin: 0;

    background-color: var(--color-dark-1);
    background-image: url(./svgs/background.svg);
    background-size: contain;
    background-repeat: repeat-y;
    background-position-x: center;
}

#page {
    width: 80vw;
    max-width: 1240px;
    margin: auto;
    padding: 3rem 0;

    display: flex;
    flex-direction: column;
    row-gap: 10rem;

    font-family: 'Comfortaa', 'Courier New', Courier, monospace;
    color: var(--color-light-1);
}


/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #title {
    font-size: 2rem;
    flex: 2;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    font-size: 16px;
    color: var(--color-light-2);
}


/* Main */

#main {
    display: flex;
    flex-direction: row;
    gap: 0;

    justify-content: space-between;
}

#main #description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 7;

    margin-top: 15%;
}

#main #description p {
    margin: 0;
}

#main #description #head {
    font-size: 2.5rem;
}

#main #description #subhead {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
}


#main #picture {
    flex: 5;
}


#main #picture img {
    width: 100%;
    max-width: 25rem;
}

.tech {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
}

.tech img {
    width: 2rem;
}


/* Carrer */

#career-main {
    display: flex;
    flex-direction: column;
    gap: 3rem
}

#career-main .company {
    background-color: var(--color-dark-2);
    width: calc(100% - 5rem);
    padding: 3rem 0;
    border-radius: 30px;

    margin-left: 5rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    font-size: 3rem;
    text-align: start;
}

#career-main .company .image {
    width: 8rem;
    aspect-ratio: 1;
    border-radius: 2rem;
    background-color: var(--color-light-1);

    position: relative;
    left: -4rem;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    overflow: hidden;
}

#career-main .company .image img {
    width: 100%;
}


/* Projects */

#projects {
    display: flex;
    flex-direction: column;
    gap: 3rem
}

#projects-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
}

.project {
    width: 100%;
    background-color: var(--color-dark-2);
    height: 100%;

    border-radius: 25px;
    box-shadow: 0 0 5px #000000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.project img {
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: 22px;

    object-fit: fill;
}

.project-title {
    font-size: 2rem;
}

.project-description {
    padding: 0 1rem;
    margin: 0 0 1rem 0;
}



/* Contacts */

#contacts {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#contacts a {
    text-decoration: none;
}

#contacts img {
    width: 100px;
}










/* Common */

.simple-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    text-align: center;
    gap: 1rem;
}

.section-title {
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

@media only screen and (max-width: 640px) {

    #page {
        row-gap: 5rem;
    }

    header {
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        gap: 1rem;
    }

    header #title {
        text-align: center;
    }

    #main {
        flex-direction: column-reverse;
        align-items: center;

        text-align: center;
    }

    #career-main .company .image {
        position: unset;
    }

    #career-main .company {
        width: 100%;
        margin: 0;
        padding: 1rem;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
    }

    #contacts {
        flex-direction: column;
    }
}